body{
    background-color: darkblue;
    text-align: center;
}
h1{
    font-style: italic;
    color: darkgray;
    font-size: large;
}
h2{
    color: aliceblue;
    font-weight: 200;
}
.pizza{
    color: beige;
}
.lista{
    text-align: left;
    color: brown;
}